<div class=top>

<h1>ようこそ
<strong>Bookers</strong>
へ！
</h1>


<p class=top_page>
  <strong class=big>Bookers</strong>
  ではさまざまな書籍に関するあなたの意見や</p>

<p class=top_page>印象を共有し交換する事が出来る</p>

<div class=top_page>
<%=link_to 'start',books_path ,class:"link" %>
</div>
</div>
